*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Protest Riot', sans-serif;
}

body{
  background: #c2c2c2;
}

body{
  background: red;
}

header > div{
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

img{
  max-width: 120px;
}

ul{
  display: flex;
  list-style: none;
  gap: 2rem;
}

ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

ul li a:hover{
  color: red;
}