body{
  background: #af6e6e;
  color: #c2c2c2;
  font-size: 30px;
}

.nombre{
  background: grey;
}

img{
  text-align: left;
}

li{
  color: blue;
}

#logo{
  width:300px;
  height:30px;
}

img{
  text-align: left;
}

a{
  color: rgb(250, 249, 249);
  float: right;
}

nav ul li a{
  background: green;
  width: 200px;
  
}

